Case Study - Country Club Questions from 10-13

In [26]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! */

In [27]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Define and execute the SQL query
query = """
    SELECT 
        f.name AS facility_name,
        SUM(
            CASE 
                WHEN b.memid = 0 THEN f.guestcost * b.slots
                ELSE f.membercost * b.slots
            END
        ) AS total_revenue
    FROM Bookings AS b
    JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY f.name
    HAVING total_revenue < 1000
    ORDER BY total_revenue;
"""

cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [28]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Define and execute the SQL query
query = """
    SELECT
        m1.surname || ', ' || m1.firstname AS member_name,
        m2.surname || ', ' || m2.firstname AS recommended_by
    FROM Members m1
    LEFT JOIN Members m2 ON m1.recommendedby = m2.memid
    ORDER BY m1.surname, m1.firstname;
"""

cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Farrell, David', None)
('Farrell, Jemima', None)
('GUEST, GUEST', None)
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rownam, Tim', None)
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Darren', None)
('Smith, Darren', None)
('Smith, Jack', 'Smith, Darren')
('Smith, Tracy', None)
('Stibbons, Ponder', 'Tracy, Burton')
('Tracy, Burton', None)
('Tupperware, Hyacinth', None)
('Worthington-Smyth, Henry', 'Smith, Tracy')

Q12: Find the facilities with their usage by member, but not guests

In [29]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Define and execute the SQL query
query = """
    SELECT 
        f.name AS facility_name,
        COUNT(b.bookid) AS usage_count
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    JOIN Members m ON b.memid = m.memid
    WHERE m.memid <> 0
    GROUP BY f.name;
"""

cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()

('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

Q13: Find the facilities usage by month, but not guests;

In [30]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Define and execute the SQL query
query = """
    SELECT 
        strftime('%Y-%m', starttime) AS month,
        f.name AS facility_name,
        COUNT(b.bookid) AS usage_count
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    JOIN Members m ON b.memid = m.memid
    WHERE m.memid <> 0
    GROUP BY month, f.name
    ORDER BY month, f.name;
"""

cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

('2012-07', 'Badminton Court', 51)
('2012-07', 'Massage Room 1', 77)
('2012-07', 'Massage Room 2', 4)
('2012-07', 'Pool Table', 103)
('2012-07', 'Snooker Table', 68)
('2012-07', 'Squash Court', 23)
('2012-07', 'Table Tennis', 48)
('2012-07', 'Tennis Court 1', 65)
('2012-07', 'Tennis Court 2', 41)
('2012-08', 'Badminton Court', 132)
('2012-08', 'Massage Room 1', 153)
('2012-08', 'Massage Room 2', 9)
('2012-08', 'Pool Table', 272)
('2012-08', 'Snooker Table', 154)
('2012-08', 'Squash Court', 85)
('2012-08', 'Table Tennis', 143)
('2012-08', 'Tennis Court 1', 111)
('2012-08', 'Tennis Court 2', 109)
('2012-09', 'Badminton Court', 161)
('2012-09', 'Massage Room 1', 191)
('2012-09', 'Massage Room 2', 14)
('2012-09', 'Pool Table', 408)
('2012-09', 'Snooker Table', 199)
('2012-09', 'Squash Court', 87)
('2012-09', 'Table Tennis', 194)
('2012-09', 'Tennis Court 1', 132)
('2012-09', 'Tennis Court 2', 126)